.answerIcon {
  position: relative;
  background: url(./icons/robot.svg);
}

.typeingIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
}


.questionIcon {
  background: url(./icons/default-avatar.jpg);
  background-size: contain;
  border-radius: 50%;
}

.answer::before,
.question::before {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 12px;
}

.answer::before {
  left: 0;
  background: url(./icons/answer.svg) no-repeat;
}

.answerWrap .itemOperation {
  display: none;
}

.answerWrap:hover .itemOperation {
  display: flex;
}

.question::before {
  right: 0;
  background: url(./icons/question.svg) no-repeat;
}

.textArea {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 84px;
  border-radius: 16px;
  border: 1px solid rgba(124, 58, 237, 0.15);
  line-height: 20px;
  background-color: rgba(250, 245, 255, 0.9);
  transition: border-color 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
}

.textArea:hover {
  border-color: rgba(124, 58, 237, 0.4);
}

.textArea:focus {
  outline: none;
  border-color: rgba(124, 58, 237, 0.75);
  box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.25);
  background-color: #FFFFFF;
}

.sendBtn {
  background: url(./icons/send.svg) center center no-repeat;
  background-color: #7C3AED;
  box-shadow: 0 8px 16px rgba(124, 58, 237, 0.25);
}

.sendBtn:hover {
  background-image: url(./icons/send-active.svg);
  background-color: #6D28D9;
}

.sendBtn:active {
  transform: scale(0.96);
  background-color: #5B21B6;
}

.textArea:focus+div .sendBtn {
  background-image: url(./icons/send-active.svg);
  background-color: #6D28D9;
}

.attachBtn {
  box-shadow: 0 4px 12px rgba(124, 58, 237, 0.25);
}

.attachBtn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.35);
}